{% extends "base.html" %}
{% block title %}About{% endblock %}
{%block navlink%}<a class="sign-in" href="{{ url_for('login')}}">Sign In</a>{%endblock%}
{% block art %}<img  class='art-2' src="{{ url_for('static', filename='/images/mp_art2.svg') }}" alt="Dormease art">{% endblock  %}
{% block content %}
<div class="content-abt-text">
        <blue>About</blue>
        <p class="abt-desc">
          Dormease is a web-based solution developed to streamline hostel
          allotment and check-in at IIT Patna. Built to address the challenges
          faced during campus immersion and hostel management, it simplifies the
          entire process through automation and real-time tracking. 
          <br/>This project
          is developed by capstone group - 14 of BSc CSDA students <br><blue2>  Shashank Bharti (Frontend
          & UI/UX), <br>Shubham Bhatra (Backend & Database), <br> Richa (Operations), and
          <br>Aditya Bharadwaj (Research & Coordination) </blue2><br> as part of their capstone
          project.
        </p>
      </div>
      <img src="{{ url_for('static', filename='/images/ellipse-104.svg') }}" alt="element" class="ellipse" />
{% endblock %}
