{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block navlink%}<a class="sign-in" href="{{ url_for('login')}}">Sign In</a>{%endblock%}
{% block content %}
  <div class="content-text">
    Swift <br />
    <blue>Smart</blue> <br />
    Seamless <br />
    <p class="desc">
      A unified platform to manage hostel accommodations, student verification
      and intelligent room allotment.
    </p>
    <a href="{{url_for('register')}}"
      ><button  class="get-started">
        <span class="circle">
          <span class="arrow"></span>
        </span>
        <span class="btext">Get Started</span>
      </button></a
    >
  </div>
    <img src="{{ url_for('static', filename='/images/ellipse-104.svg') }}" alt="element" class="ellipse" />
  
{% endblock %}
