{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/slideleftanime.css') }}">
{% endblock %}

{% block content %}
  <div class="content-text">
    Swift 
    <blue>Smart</blue> 
    Seamless 
    <p class="desc">
      A unified platform to manage hostel accommodations, student verification
      and intelligent room allotment.
    </p>
    <span class="gs-btn">
    <button  class="get-started">
        <span class="circle">
          <span class="arrow"></span>
        </span>
        <span class="btext">Get Started</span>
        
      </button></span>
 
  </div>
    <img src="{{ url_for('static', filename='/images/ellipse-104.svg') }}" alt="element" class="ellipse" />
  
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
   const getStartedButton = document.querySelector('.get-started');
    getStartedButton.addEventListener('click', function() {
      window.location.href = "{{ url_for('register') }}";
    });

  </script>
{% endblock %}
