{% extends "dashboard.html" %}
{% block title %}Recipients{% endblock %}
{% block styles%}
{{ super() }} <link rel="stylesheet" href="{{url_for('static', filename='css/recipient.css')}}">
{% endblock %}

{% block hidden%}
class = 'welcome'
{% endblock %}
{% block dashboard%}
 class="pointer-off"
{% endblock %}
{% block datasets%}
 class="pointer-off"
{% endblock %}
{% block issues%}
 class="pointer-off"
{% endblock %}
{% block verify%}
 class="pointer-off"
{% endblock %}
{% block recipient %}
 class="pointer-on"
{% endblock %}
{% block content %}

<div class="recipient-list">

</div>
<a class='verify-goto' href="{{url_for("verification")}}">Start Verification</a>


{%endblock%}

{% block scripts%}
{{ super() }}

{% endblock %}


